setuptools>=65.5.0
wheel
cryptography
pyOpenSSL
Flask
Flask-Login
Flask-Bcrypt
Flask-PyMongo
python-dotenv
Werkzeug
gunicorn
google-auth
oauthlib
authlib
google-generativeai
googletrans==4.0.0-rc1
fpdf
markdown
requests
razorpay
